# copy to /lib/systemd/system/
# run systemctl daemon-reload
# run systemctl start|stop|enable|disable|status platypus

[Unit]
Description=platypus
Requires=multi-user.target
After=multi-user.target

[Service]
ExecStart=/usr/bin/platypus
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
