# copy to /lib/systemd/system/
# run systemctl daemon-reload
# run systemctl start|stop|enable|disable|status platypus

[Unit]
Description=platypus
After=network.target

[Service]
ExecStart=/home/root/platypusMain /home/root/config.cfg
Restart=on-failure
RestartSec=10s
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
