# copy to /lib/systemd/system/
# run systemctl daemon-reload
# run systemctl start|stop|enable|disable|status syslog

[Unit]
Description=syslog
Requires=multi-user.target
After=multi-user.target

[Service]
ExecStart=/etc/platypus/syslog.sh
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
